@media screen and (max-width: 1200px){
    section#beer_detail_inner, section#user_review, div#photo_review, section#comment{
        width: 100%;
        overflow: hidden;
    }
    section#more_info{
        width: 100%;
        overflow:hidden;
    }
    div#my_comment input{
        width: 81%;
    }
}
@media screen and (max-width: 980px){
     section#beer_detail_inner{
         height: 700px;
     }
     div#more_info_wrapping_box{
        width: 93%;     
    }
    div#user_review_inner_box{
        width: 90%;
    }
    section#best_review{
        height: 300px
    }
    div#my_comment input{
        width: 79.5%;
    }
}
@media screen and (max-width: 768px){
     section#beer_detail_inner{
         height: 600px;
     }
     div#more_info_bg{
        height: 500px; 
     }
     div#more_info_wrapping_box{
        height: 63%;
    }
     section#best_review{
        height: 265px
    }
    div#my_comment input{
        width: 78.5%;
    }
}