button:hover{
    cursor: pointer;
}
div#header_wrap{
    background: none;
}
/* div#blurEffect{
    background: none;
} */
div#beer_detail_wrap{
    width: 100%;
    position: relative;
    top: 60px;
    color: white;
    z-index: -1;
    margin-bottom: 300px;
/*     background-color: rgb(62, 62, 255, 0.3); */
}
section#beer_detail_inner{
    width: 1200px;
    height: 790px;
    position: relative;
    top: 0px;
    left: 0px;
    margin: 0 auto;  
/*     background-color:rgb(240, 248, 255, 0.2); */
}
section#beer_detail_view{
    width: 40%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    float: left;
/*     background-color: rgb(255, 0, 45, 0.2); */
}
h2.beer_detail_title{
    font-size: 2em;
    position: absolute;
    width: 100%;
    top: 70px;
    text-align: center;
/*     background-color: skyblue; */
}
section#beer_detail_view p{
    position: relative;
    text-align: center;
    width: 100%;
    top: 105px;
    font-size: 0.75em;
/*     background-color: orange; */
}
section#beer_detail_view img{
    position: relative;
    width: 25%;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
}
div#beer_detail_button{
    position:absolute;
    width: 100%;
    height: 30px;
    bottom: 70px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
/*     background-color: green; */
}
button#sample{
    width: 100px;
    height: 100%;
    border: none;
    margin-right: 3px;
    background-color: #FFB000;
}
button#bookmark{
    width: 65px;
    height: 100%;
    border: none;
    margin-right: 3px;
    background-color: #FFB000;
}
button#share{
    width: 90px;
    height: 100%;
    border: none;
    margin-top: 5px;
    background-color: #FFB000;
}
section#beer_detail_description{
    width: 60%;
    height: 100%;
    position: absolute;
    right: 0px;
    background-color: rgba(255, 192, 203, 0.3);
}
div#slide{
    height: 100%;
    position: relative;
    overflow: hidden;
}
div#slide ul{
    width: 400%;
    height: 100%;
    transition: 0.5s;
}
div#slide ul:after{
    content: "";
    display: block;
    clear: both;
}
div#slide ul li{
    float: left;
    width: 25%;
    height: 100%;
}
div#slide ul li:nth-child(1){
    background: url(../images/style_bg.png) no-repeat;
    background-size: cover;
    position: relative;
    /* background-color: rgb(255, 206, 50); */
}
div#slide ul li:nth-child(2){
    background-color: orange;
}
div#slide ul li:nth-child(3){
    background-color: pink;
}
div#slide ul li:nth-child(4){
    background-color: gray;
}
div#slide input{
    display: none;
}
p#beer_label label{
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    background-color: rgb(255, 255, 255, 0.55);
    transition: 0.3s;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
}
p#beer_label{
    text-align: center;
    position: absolute;
    bottom: 75px;
    left: 0px;
    width: 100%;
}
input#beer_style:checked~ul{
    margin-left: 0%;
}
input#beer_taste:checked~ul{
    margin-left: -100%;
}
input#beer_country:checked~ul{
    margin-left: -200%;
}
input#beer_price:checked~ul{
    margin-left: -300%;
}
input#beer_style:checked~p#beer_label>label:nth-child(1){
    background-color: white;
}
input#beer_taste:checked~p#beer_label>label:nth-child(2){
    background-color: white;
}
input#beer_country:checked~p#beer_label>label:nth-child(3){
    background-color: white;
}
input#beer_price:checked~p#beer_label>label:nth-child(4){
    background-color: white;
}
p.beer_detail_title{
    font-size: 2.875em;
    position: absolute;
    top: 90px;
    height: 50px;
/*     background-color:blue; */
}
p#style{
    position: relative;
    text-align: right;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
/*     background-color: red; */
}
p#taste{
    position: relative;
    text-align: right;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
/*     background-color: red; */
}
p#country{
    position: relative;
    text-align: right;
    left: 50%;
    transform: translateX(-50%);
    width: 225px;
/*     background-color: red; */
}
p#price{
    position: relative;
    text-align: right;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
/*     background-color: red; */
}
p#style:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    background : url(../images/icon/style.png) no-repeat;
}
p#taste:before{
    content: "";
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    background : url(../images/icon/taste.png) no-repeat;
}
p#country:before{
    content: "";
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    background : url(../images/icon/country.png) no-repeat;
}
p#price:before{
    content: "";
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    background : url(../images/icon/price.png) no-repeat;
}
p.beer_detail_text{
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    font-size: 1.25em;
    line-height: 1.25em;
/*     background-color: green; */
}
div#more_info_bg{
    width: 100%;
    height: 560px;
    position: relative;
    left: 0px;
    top: 0px;
    margin-bottom: 80px;
/*     background-color: rgba(255, 255, 255, 0.3); */
    background-color: #FFB000;
}
section#more_info{
    position: absolute;
    width: 1200px;
    height: 100%;
    left: 50%;
    color: black;
    transform: translateX(-50%);
/*     background-color: red; */
}
section#more_info h2{
    position: absolute;
    width: 100%;
    top: 50px;
    color: black;
    font-weight: 400;
/*     background-color: blue; */
}
div#more_info_wrapping_box{
    position: absolute;
    width: 70%;
    height: 67%;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
/*     background-color: gray; */
}
div.single_box{
    width: 15.5%;
    height: 187px;
/*     background-color: green; */
    text-align: center;
    position: absolute;
}
div#glass{
    left: 0px;
}
div#temperature{
    left: 20%;
}
p.more_info_title{
    font-weight: 400;
    font-size: 1.125em;
    margin-bottom: 16px;
}
div.single_box img{
    border: 1px solid rgba(0, 0, 0, 0.35);
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 5px;
}
div#multi_box{
    position: absolute;
    right: 0px;
    width: 57%;
    height: 187px;
    text-align: center;
/*     background-color: blue; */
}
ul#match_food{
    position: absolute;
    top: 34px;
    right: 0px;
    width: 100%;
    height: 153px;
/*     background-color: skyblue; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}
ul#match_food li{
    width: 27%;
    margin-right: 15px;
    float: left;
}
ul#match_food li:last-child{
    margin-right: 0px;
}
ul#match_food img{
    border: 1px solid rgba(0, 0, 0, 0.35);
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 5px;
}
div#recipe_box{
    width: 100%;
    position: absolute;
    bottom: 0px;
    text-align: center;
/*     background-color: purple; */
}
ul#match_recipe{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
ul#match_recipe li{
    position: relative;
    top: 0px;
    left: 0px;
    margin-right: 10px;
}
ul#match_recipe li:last-child{
    margin-right: 0px;
}
ul#match_recipe img{
    border: 1px solid rgba(0, 0, 0, 15);
    box-sizing: border-box;
    width: 100%;
}
div.match_recipe_preview{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    color: black;
    background-color: rgba(0,0,0,0);
}
div.match_recipe_preview p{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    font-size: 1.5em;
    font-weight: 700;
/*     background-color: blue; */
}
div.match_recipe_preview:hover{
    background-color: rgba(0, 0, 0, 0.35);
    color: white;
}
div#user_review_wrap{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 350px;
    margin-bottom: 35px;
/*     background-color: rgb(85, 93, 255, 0.5); */
}
div#user_review_bg{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 270px;
    background-color: #3e3c37;
/*     background-color: rgba(255, 255, 255, 0.3); */
}
section#user_review{
    width: 1200px;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
/*     background-color: rgb(255, 0, 0, 0.3); */
}
div#user_review_inner{
    position: absolute;
    width: 100%;
    height: 270px;
    bottom: 0px;
/*     background-color: blue; */
}
div#user_review_inner_box{
    position: absolute;
    top: 46px;
    left: 50%;
    transform: translateX(-50%);
    width: 77.08%;
    height: 170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
/*     background-color: green; */
}
div#average{
    position: relative;
    width: 264px;
    height: 100%;
/*     background-color: red; */
}
div#average img{
    position: absolute;
    left: 50%;
    top: 47%;
    transform: translate(-50%, -50%);
}
p.subtitle{
    position: relative;
    top: 0px;
    left: 0px;
    text-align: center;
    font-size: 1.125em;
    font-weight: 500;
/*     background-color: black; */
}
p.subtitle_text{
    font-size: 1.5em;
}
p#average_text{
    position: absolute;
    width: 100%;
    bottom: 0px;
    text-align: center;
/*     background-color: gray; */
}
div#count{
    position: relative;
    width: 264px;
    height: 100%;
/*     background-color: darkcyan; */
}
p#count_text{
    position: absolute;
    width: 100%;
    top: 60%;
    transform: translateY(-50%);
    text-align: center;
/*     background-color: gray; */
}
div#graph{
    width: 264px;
    height: 100%;
/*     background-color: cornflowerblue; */
}
div#graph img{
    position: absolute;
    bottom: 0px;
}
span.highlight{
    font-weight: 500;
    color: #FFB000;
}
div#photo_review{
    width: 1200px;
    position: relative;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
/*     background-color: rgb(255, 0, 0) */
}
section#best_review{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 355px;
    margin-bottom: 50px;
/*     background-color: rgb(100, 149, 237, 0.5); */
}
h2.review_title{
    text-align: center;
    font-weight: 400;
    font-size: 1.5em;
/*     background-color: blue; */
}
h3#best_review_subtitle{
    font-size: 0.875em;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 93.33%;
/*     background-color: red; */
}
span#bold{
    font-weight: 400;
    font-size: 1.125em;
}
span#bold:after{
    content: "|";
    position: absolute;
    bottom: 0px;
    font-size: 0.7em;
}
ul#best_review_top3{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 93.33%;
    height: 74.64%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
/*     background-color: green; */
}
ul#best_review_top3 li{
    position: relative;
    top: 0px;
    left: 0px;
    width: 30%;
/*     background-color: red; */
}
ul#best_review_top3 li div img{
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    width: 100%;
}
ul#best_review_top3 div{
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    font-size: 0.75em;
}
p.user_count{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.4);
    text-align: center;
    transition: all 0.3s ease;
    opacity: 0;
}
span.view_count{
    position: relative;
    top: 47%;
    padding-left: 25px;
    margin-right: 15px;
/*     background-color: blue; */
}
span.view_count:before{
    content: "";
    position: absolute;
    top: 3px;
    left: 0px;
/* display: block; */
    width: 100%;
    height: 100%;
    background: url(../images/icon/view_count.png) no-repeat;
}
span.recommend_count{
    position: relative;
    top: 47%;
    padding-left: 20px;
/*     background-color: green; */
}
span.recommend_count:before{
    content: "";
    position: absolute;
    top: 2px;
    left: 0px;
/* display: block; */
    width: 100%;
    height: 100%;
    background: url(../images/icon/best_recommend.png) no-repeat;
}
p.user_count:hover{
    opacity: 1;
}
p.best_review_text{
    font-size: 0.875em;
    line-height: 1.4em;
    opacity: 0.8; 
    width: 100%;
    position: absolute;
    margin-top: 10px;
     text-align: justify;
/*     background-color: skyblue; */
}
p.best_review_text:hover{
    text-decoration: underline;
    opacity: 1;
}
section#detail_review{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 420px;
    margin-bottom: 50px;
/*     background-color: rgba(255, 255, 255, 0.15); */
}
h3#detail_review_subtitle{
    font-weight: 400;
    font-size: 1.125em;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 93.33%;
/*     background-color: red; */
}
p.review_view_option{
    position: relative;
    width: 93.33%;
    left: 50%;
    transform: translateX(-50%);
    text-align: right;
    font-size: 0.75em;
    margin: -5px 0px 20px 0px;
/*     background-color: green; */
}
span.view_option:after{
    content: "|";
    position: absolute;
    font-size: 0.75em;
}
ul#detail_review_list{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 93.33%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1em 2.5em;
    height: 320px;
    margin-bottom: 20px;
/*     background-color: gray; */
}
ul#detail_review_list li{
    height: 150px;
/*     background-color: blue; */

}
ul#detail_review_list li img{
    width: 47%;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
}
div.detail_review_text{
    float: right;
    position: relative;
    width: 49.5%;
    opacity: 0.8; 
/*     background-color: cornflowerblue; */
}
p.id{
    font-size: 0.875em;
    font-weight: 400;
    text-align: right;
    font-style: oblique;
    margin-bottom: 1.25em;
/*     background-color: black; */
}
p.grade{
    font-size: 1.25em;
    text-align: left;
/*     background-color: crimson; */
}
p.user_text{
    font-size: 0.875em;
    line-height: 1.4em;
    position: absolute;
    margin-top: 10px;
    text-align: justify;
/*     background-color: #278609 */
}
div.detail_review_text:hover{
    opacity: 1;
}
p.user_text:hover{
    text-decoration: underline;
}
ul.page_number{
    width: 100px;
    bottom: 0px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    font-size: 0.75em;
    justify-content: space-between;
/*     background-color: red; */
}
ul.page_number li:after{
    content: "|";
    position: relative;
    left: 18px;
    bottom: 2px;
    font-size: 0.75em;
}
ul.page_number li:last-child:after{
    content: "";
}
button#write_review{
    position: absolute;
    right: 3.33%;
    bottom: 0px;
    width: 125px;
    height: 35px;
    background-color: #FFB000;
    border: none;
    border-radius: 4px;
    font-size: 0.875em;
    font-weight: 600;
}
section#comment{
    width: 1200px;
    height: 500px;
    position: relative;
    left: 0px;
    top: 0px;
/*     background-color: rgba(255, 255, 255, 0.3); */
}
div#my_comment{
    position: relative;
    left: 0px;
    top: 0px;
    width: 93.33%;;
    left: 50%;
    transform: translateX(-50%);
    height: 60px;
    line-height: 60px;
    margin-bottom: 10px;
/*     background-color: blue; */
}
div#my_profile_img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    background: url(../images/my_profile.png) no-repeat;
    float: left;
    margin-right: 1.5%;
}
div#my_comment input{
    width: 82%;
    height: 45px;
    background-color: #45433E;
    border: 1px solid #FFB000;
    box-sizing: border-box;
    border-radius: 7px;
    font-size: 0.875em;
    color: rgba(255, 255, 255, 0.8);
    text-indent: 0.93em;
}
div#my_comment button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    width: 10%;
    height: 45px;
    background-color: #FFB000;
    font-size: 0.875em;
    font-weight: 600;
    border-radius: 7px;
    border: none;
}
ul#beer_comment{
    width: 93.33%;
    height: 340px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
/*     background-color: red; */
}
ul#beer_comment li{
    float: left;
    margin-bottom: 10px;
    line-height: 60px;
/*     background-color: green; */
}
div.profile_img{
    position: relative;
    left: 0px;
    top: 0px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    background: url(../images/user_profile1.jpg) no-repeat;
    margin-right: 1.5%;
    float: left;
}
ul#beer_comment li:nth-child(2) div{
    background: url(../images/user_profile2.jpg) no-repeat;
}
ul#beer_comment li:nth-child(3) div{
    background: url(../images/user_profile3.jpg) no-repeat;
}
ul#beer_comment li:nth-child(4) div{
    background: url(../images/user_profile4.jpg) no-repeat;
}
ul#beer_comment li:nth-child(5) div{
    background: url(../images/user_profile5.jpg) no-repeat;
}
ul#beer_comment li:last-child{
    margin-bottom: 0px;
}
span.user_comment{
    margin-right: 20px;
/*     background-color: chocolate; */
}
span.nickname{
    margin-right: 18px;
    font-size: 0.875em;
    opacity: 0.8;
/*     background-color: burlywood; */
}
span.recommend{
    position: relative;
    top: 0px;
    left: 0px;
    font-size: 0.75em;
    padding-left: 25px;
/*     background-color: #201bfb; */
}
span.recommend:before{
    content: "";
    position: absolute;
    width: 14px;
    height: 13px;
    top: 2px;
    left: 2px;
    background: url(../images/icon/recommend.png) no-repeat;
}
span.recommend:before:hover{
    cursor: pointer;
}
span.date{
    position: absolute;
    right: 0px;
    font-size: 0.75em;
    opacity: 0.8;
/*     background-color: coral; */
}