@media screen and (max-width: 1200px){
    body{
        font-size: 15px;
        max-width: 1200px;
        min-width: 768px;
    }
    div#main_visual, div#header_inner, div#main_menu_bg, section#search_bar, footer#footer_inner, section#login_menu, ul#main_menu_list_wrapper{
        width: 100%;
/*         height: 100%; */
        /* overflow: hidden; */
    }
    .slide img{
        width: 100%;
    }
    div#visual_button{
        width: 97%;
    }
    section#contents1_inner, section#contents2_inner, section#contents3_inner{
        width: 100%;
    }
    div#contents3_wrapping_box{
        width: 95%;
    }
}
@media screen and (max-width: 1100px){
    div#app_icons{
        width: 330px;
        height: 180px;
    }
    section#get_app, section#social{
        left: 50%;
        transform: translateX(-50%);
    }
    p#magazine_text{
        width: 39%;
    }
}
@media screen and (max-width: 980px){
    body{
        font-size: 14px;
    }
    nav#main_menu{
        width: 100%;
    }
    section#contents1_inner{
        height: 984px;
    }
    div#contents1_wrapping_box{
        width: 100%;
    }
    section#new_beer_arrivals, section#magazine{
        width: 80%;
        left: 50%;
        transform:  translateX(-50%);
        margin-bottom: 95px;
    }
    p#magazine_text{
        width: 60%;
    }
    section#magazine{
        margin-bottom: 0px;
    }
    div#contents2_wrapping_box{
        width: 90%;
    }
    section#weekly_best_reviewer, section#weekly_best_recipe, section#hottest_pub_store, section#view_latest_event{
        width: 90%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    div#contents3_wrap{
        height: 2000px;
    }
}
@media screen and (max-width: 900px){
    p#magazine_text{
        width: 50%;
    }
    div#app_icons{
        width: 230px;
    }
    section#get_app{
        width: 170px;
    }
    div#app_store, div#google_play_store{
        width: 85px;
    }
    img.app_icon{
        left: 50%;
        transform: translateX(-50%);
    }
    p.download, p.store_name{
        display: none;
    }
}
@media screen and (max-width: 768px){
    body{
        font-size: 13px;
    }
/*     div#main_visual{
        height: 700px;
    } */
/*     div#main_visual_inner{
        width: 100%;
        height: 360px;
    } */
/*     div#header_wrap, div#blurEffect{
        height: 120px;
    }
    h1#logo{
        top: 11%;
    }
    h1#logo img{
        width: 100px;
        top: 50%;
        transform: translateY(-50%);
    }*/
/*     div#main_menu_wrap, nav#main_menu, section#login_menu{
        display: none;
    }
    nav#mobile_menu, section#mobile_login{
        display: block;
    } */
    #browser_guide{
        width: 280px;
    }
    div#search_bar_wrap{
        height: 120px;
    }
    section#search_bar p{
        top: 21%;
        left: 0px;
        width: 100%;
        text-align: center;
    }
    section#search_bar input{
        top: 43%;
        transform: translateY(0%);
        left: 5%;
        width: 69%;
    }
    section#search_bar button{
        top: 43%;
        transform: translateY(0%);
        right: 5%;
        width: 19%;
    }
    div#contents3_wrap{
        height: 1800px;
    }
/*     .event_preview{
        width: 47%;
        margin: 5px;
    } */
}

/* @media screen and (max-width: 480px){
    div#new_beer_arrivals_inner, div#magazine_inner{
        width: 95%;
        height: 100%;
    }
}
@media screen and (max-width: 320px){
    body{
        font-size: 12px;
    }
    ul#new_beer_list, p#magazine_text.contents_text{
        width: 25%;
    }
    p#magazine_text.contents_text{
        height: 80%;
        overflow: hidden;
    }
     div#search_bar_wrap{
        height: 110px;
    }
} */