    .hidden{
        width: 1px;
        height: 1px;
        font-size: 0px;
        line-height: 0px;
        position: absolute;
    }
    .contents_title{
        color: white;
        font-size: 1.5em;
        position: relative;
        float:left;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
/*         background-color: #008000c2; */
    }
    header{
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        z-index: 2;
    }
    section#header_top{
        position: relative;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 70px;
        background-color: #FFB000;
    }
    ul#header_top_list{
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 43px;
/*         background-color: red; */
    }
    ul#header_top_list li{
        float: left;
        height: 100%;
        /* width: 100%; */
/*         border: 1px solid white;
        box-sizing: inner-box;
        background-color: #0000ffb0; */
    }
    h1#logo{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 15vw;
        max-width: 80px;
        min-width: 75px;
        margin: 0 2vw;
/*         background-color: green; */
    }
    h1 img{
        width: 100%;
/*         background-color: pink; */
    }
    input#search_box{
        height: 40px;
        width: 70vw;
        margin-right: 3vw;
        font-size: 0.875em;
        color: #FFB000;
        text-indent: 15px;
        border-radius: 7px;
        border: none;
        background-color: #45433E;
    }
    p#user_icon{
        width: 5vw;
        position: absolute;
        right: 3vw;
        min-width: 30px;
        top: 50%;
        transform: translateY(-50%);
    }
    p#user_icon img{
        width: 100%;
    }
    p#user_icon:after{
        content: "●";
        position: absolute;
        top: -5px;
        right: 0px;
        color: red;
        font-size: 0.8em;
    }
    nav#main_menu{
        position: relative;
        left: 0px;
        top: 0px;
        color: white;
        letter-spacing: -0.03em;
        width: 100%;
        height: 35px;
        background-color: rgb(19, 19, 19);
    }
    .main_menu_list{
        /* position: relative; */
        top: 50%;
        height: 100%;
        line-height: 35px;
        /* transform: translateY(-50%); */
        font-size: 0.75em;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
 .mobile_menu{
        position: relative;
        /* top: 50%; */
        height: 100%;
        line-height: 35px;
        /* transform: translateY(-50%); */
        font-size: 0.75em;
        /* display: flex;
        flex-direction: row;
        justify-content: space-around; */
    }
    /* ul#main_menu_list li{
        width: auto;
    }
    ul#main_menu_list li:first-child{
        margin-left: 10px;
    } */
    #sub_menu_bg{
        height: 100vh;
        background-color: rgba(0,0,0,0.75);
        display: none;
    }
    #sub_menu_bg:after{
        content: '';
        position: absolute;
        top: 120px;
        right: 15px;
        color: white;
        width: 30px;
        height: 30px;
/*         border: 1px solid white; */
        background: url(../images/icon/close.png) no-repeat;
    }
    .submenu_list{
        position: absolute;
        height: 30%;
        width: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color:white;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 1.5em;
/*         background-color: blue; */
    }
    
    .submenu_list li{
        padding-bottom: 25px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
    .submenu_list li:last-child{
         padding-bottom: 0;
        border-bottom: none;
    }
    footer{
        position: relative;
        width: 100%;
        top: 0px;
        left: 0px;
        float: left;
        color: white;
        height: 200px;
        background-color: rgb(19, 19, 19);
    }
    h2.footer_title{
        font-size: 0.75em;
        text-align: center;
        margin-bottom: 10px;
    }
    ul#footer_menu{
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 80%;
        top: 5px;
        right: 0px;
        font-size: 0.56em;
/*         background-color: blue; */
    }
    section#customer_guide{
        position: relative;
        float: left;
        font-size: 0.65em;
        line-height: 2em;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
/*         background-color: #0080007a; */
    }
    section#get_app{
        position: absolute;
        top: 43px;
        right: 20px;
        width: 135px;
/*         background-color: red; */
    }
    img#app_store{
        width: 35px;
        margin: 0px 20px;
/*         background-color: blue; */
    }
    img#google_play_store{
        width: 35px;
/*         background-color: black; */
    }
    section#social{
        position: absolute;
        float: left;
        width: 135px;
        right: 20px;
        bottom: 15px;
/*         background-color: red; */
    }
    div#social_icons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
/*         background-color: blue; */
    }
    div#social_icons img{
        width: 30px;
    }
    p#copyright{
        position: absolute;
        float: left;
        bottom: 0px;
        font-size: 0.56em;
/*         background-color: green; */
    }

  @media screen and (max-width: 520px){
      /* h1#logo{
          margin: 0 1.5vw;
      } */
      input#search_box{
        width: 67vw;
        margin-right: 2vw;
    }
  }

  @media screen and (max-width: 420px){
      input#search_box{
        width: 62vw;
    }
    p#user_icon{
        min-width: 25px;
    }
  }
   @media screen and (max-width: 330px){
      h1#logo{
        margin: 0 1vw;
      }
      input#search_box{
        width: 61vw;
        margin-right: 1vw;
    }
    p#user_icon{
        min-width: 25px;
    }
  }