ul#main_menu_list li:first-child{
    border-bottom: 3px solid #FFB000;
}
section#beer_detail_view{
    margin: 40px 0 30px 0px;
    position: relative;
    float: left;
    width: 100%;
/*     background-color: blue; */
}
h2.contents_title{
    margin-bottom: 5px;
}
p#beer_detail_title{
    position: relative;
    float: left;
    font-size: 0.6em;
    color: white;
    width: 100%;
    text-align: center;
/*     background-color: red; */
}
p#beer_detail_img{
    position: relative;
    float: left;
    margin: 30px 0px;
    width: 100%;
/*     background-color: orange; */
}
p#beer_detail_img img{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
div#beer_detail_button{
    position:relative;
    float: left;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    text-align: center;
/*     background-color: green; */
}
button#sample{
    float: left;
    width: 100px;
    height: 100%;
    border: none;
    margin-right: 5px;
    border-radius: 3px;
    font-size: 0.8em;
    font-weight: 600;
    background-color: #FFB000;
}
button#bookmark{
    float: left;
    width: 75px;
    height: 100%;
    border: none;
    font-size: 0.8em;
    font-weight: 600;
    margin-right: 5px;
    border-radius: 3px;
    background-color: #FFB000;
}
button#share{
    float: left;
    width: 100px;
    height: 100%;
    border: none;
    font-size: 0.8em;
    font-weight: 600;
    border-radius: 3px;
    background-color: #FFB000;
}
section#beer_description{
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    margin-bottom: 70px;
}
ul#tab_menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 0.7px solid #717171;
    box-sizing: border-box;
}
li.menu_btn{
    height: 24px;
    line-height: 24px;
    font-size: 0.875em;
    color: white;
    padding: 0 5px;
    letter-spacing: -0.03em;
    padding: 0px 3px;
}
li.menu_btn.current{
    border-bottom: 3px solid #FFB000;
}
section.tab_content{
    margin-top: 40px;
    width: 100%;
    color: white;
    display: none;
/*     background-color: green; */
}
section.tab_content.current{
    display: block;
}
ul#info_list{
    width: 100%;
/*     background-color: blue; */
}
ul#info_list li{
    text-align: center;
    margin-bottom: 50px;
/*     background-color: red; */
}
ul#info_list li:last-child{
    margin-bottom: 0;
}
p.info_title{
    font-size: 1.5em;
}
span.info_title_text{
    position: relative;
    display: inline-block;
    padding-left: 39px;
    height: 31px;
    line-height: 31px;
    margin-bottom: 15px;
/*     background-color: green; */
}
ul#info_list li:first-child span.info_title_text:before{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: url(../images/icon/style.png) no-repeat;
}
ul#info_list li:nth-child(2) span.info_title_text:before{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: url(../images/icon/taste.png) no-repeat;
}
ul#info_list li:nth-child(3) span.info_title_text:before{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: url(../images/icon/country.png) no-repeat;
}
ul#info_list li:last-child span.info_title_text:before{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: url(../images/icon/price.png) no-repeat;
}
p.info_text{
    font-size: 0.75em;
    line-height: 1.5em;
}
span.bold{
    font-weight: 500;
}
section#more_enjoy{
    width: 100%;
    position: relative;
    left: 0px;
    top: 0px;
    float: left;
/*     background-color: cyan; */
}
section#more_enjoy h2{
    margin-bottom: 40px;
}
ul#glass_temperature{
    position: relative;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 53%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 55px;
/*     background-color: green; */
}
p#food{
    position: absolute;
    width: 100%;
    top: -1.875em;
/*     background-color: red; */
}
p.subtitle{
    font-size: 0.875em;
    font-weight: 400;
    text-align: center;
    margin-bottom: 15px;
}
img.subimg{
    width: 100%;
    border: 1px solid rgba(0,0,0, 0.3);
    box-sizing: border-box;
    margin-bottom: 10px;
}
p.subtext{
    font-size: 0.75em;
    text-align: center;
}
ul#match_food{
    position: relative;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 83%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
/*     background-color: orange; */
}
p#recipe{
    position: relative;
    float: left;
    width: 100%;
/*     background-color: green; */
}
#match_recipe_wrapper{
    width: 100%;
    position: relative;
    float: left;
    scroll-behavior: smooth;
    /* background-color: red; */
    overflow: hidden;
}
ul#match_recipe{
    position: relative;
/*     float: left; */
    min-width: 100%;
    left: 0;
    display: flex;
    flex-direction: row;
/*     margin-bottom: 30px; */
/*     background-color: blue; */
}
ul#match_recipe li{
    margin-right: 20px;
}
ul#match_recipe li:last-child{
    margin-right: 0;
}
img.recipe_img{
    border: 1px solid rgba(0,0,0, 0.3);
    box-sizing: border-box;
}
p.recipe_nickname{
    margin-top: 5px;
    font-size: 0.75em;
    text-align: right;
/*     background-color: red; */
}
p.recipe_title{
    margin-top: -5px;
    font-size: 0.75em;
    text-align: center;
}
span.nickname_color{
    color: #FFB000;
    font-weight: 400;
}
button#more_recipe_btn{
    position: relative;
    float: left;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(25, 25, 25);
    border: 1px solid #FFB000;
    border-radius: 5px;
    height: 45px;
    width: 65%;
    margin-top: 30px;
}
span#more_recipe_text{
    color: white;
    font-size: 0.875em;
}
span#more_recipe_text:after{
    content: " →";
    position: relative;
}
section#user_review{
/*     background-color: purple; */
    position: relative;
    float: left;
    left: 0px;
    top: 0px;
    width: 100%;
}
section#summery{
/*     background-color: blue; */
    position: relative;
    float: left;
    left: 0px;
    top: 0px;
    width: 100%;
    margin-bottom: 50px;
}
ul#user_review_summery{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
/*     background-color: green; */
}
ul#user_review_summery>li{
    box-sizing: border-box;
    border-bottom: 0.5px solid #717171;
}
ul#user_review_summery li:last-child{
    border: 0px;
    margin-bottom: -100px;
}
p.user_review_summery_title{
    margin-bottom: 30px;
    font-size: 0.875em;
    font-weight: 400;
    text-align: center;
/*     background-color: red; */
}
p.user_review_summery_text{
    font-size: 1.5em;
    text-align: center;
/*     background-color: hotpink; */
}
ul#user_review_summery li:first-child p.user_review_summery_text{
    margin-bottom: 30px;
}
ul#user_review_summery li:nth-child(2) p.user_review_summery_title{
    margin-top: 60px;
}
ul#user_review_summery li:last-child p.user_review_summery_title{
    margin-top: 30px;
}
ul#user_review_summery li:nth-child(2) p.user_review_summery_text{
    margin-bottom: 60px;
}
img#average_star{
    position: relative;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
/*     background-color: skyblue; */
}
span.highlight{
    color: #FFB000;
    font-weight: 500;
}
/* img#graph{
    position: relative;
    width: 75%;
    left: 50%;
    transform: translateX(-50%);
} */
#status_graph{
    position: relative;
    top: -75px;
    margin: 0 auto;
    height: 100%;
    width: 45%;
    list-style: none;
    transform: rotate(-90deg);
/*     background-color: green; */
/*     bottom: 0px; */
  }
#status_graph li{
    width: 100%;
    position: relative;
/*     padding: 1px 0; */
    margin-bottom: 25%;
/*     white-space:nowrap; */
    text-align: left;
/*     background-color: blue;
    border: solid 1px red; */
    box-sizing: border-box;
  }
#status_graph li:last-child{
    margin-bottom: 0;
  }
.status{
    display: inline-block;
    position: relative;
    height: 27px;
    line-height: 27px;
    background: #FFB000;
    left: -5px;
    top: 1px;
  }
.flavor{
    position: relative;
    left: -5px;
    top: -7px;
    display: inline-block;
    transform: rotate(90deg);
/*     background-color: hotpink; */
    font-size: 0.7em;
  }
#status_graph li:last-child .flavor{
    left: -11px;
  }
#status_graph li:last-child .status{
    left: -17px;
  }
section#detail_review{
    position: relative;
    width: 100%;
    top: 0px;
    left: 0px;
    float: left;
/*     background-color: blue; */
}
section#best_review{
    position: relative;
    width: 100%;
    float: left;
    margin-bottom: 30px;
/*     background-color: red; */
}
.detail_review_subtitle{
    position: relative;
    left: 5%;
    float: left;
    margin: 10px 0 15px 0;
    font-size: 0.875em;
    font-weight: 400;
    overflow: hidden;
/*     background-color: green; */
}
span#detail_review_subtitle_description{
    position: relative;
    top: 3px;
    font-size: 0.75em;
    float: right;
/*     background-color: red; */
}
span#detail_review_subtitle_description:before{
    content: "|";
    position: relative;
}
#best_review_list_wrapper{
    width: 100%;
    position: relative;
    float: left;
    scroll-behavior: smooth;
/*     background-color: red; */
    overflow: hidden;
}
ul#best_review_list{
    min-width: 100%;
    position: relative;
    float: left;
    display: flex;
    flex-direction: row;
/*     background-color: hotpink; */
}
ul#best_review_list li{
    margin: 0 20px;
}
ul#best_review_list li:first-child{
    margin-left: 0;
}
ul#best_review_list li:last-child{
    margin-right: 0;
}
img.best_review_img{
    border: 1px solid rgba(255, 255, 255, 0.35);
    box-sizing: border-box;
    margin-bottom: 10px;
}
p.best_review_text{
    font-size: 0.7em;
    line-height: 1.5em;
}
button#review_btn{
    padding: 10px 45px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    float: left;
    background-color: #FFB000;
    border: none;
    border-radius: 6px;
    margin-top: 30px;
}
span#wrtie_review{
    position: relative;
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: 1em;
    font-weight: 600;
/*     background-color: red; */
    padding-left: 40px;
}
span#wrtie_review:before{
    content: "";
    position: absolute;
    left: 0px;
    top: 1.5px;
    width: 100%;
    height: 100%;
    background: url(../images/icon/feather.png) no-repeat;
}
section#other_detail{
    position: relative;
    width: 100%;
    float: left;
/*     background-color: purple; */
}
section#other_detail h4{
    margin: 0px;
}
select.view_option{
    position: relative;
    float: right;
    right: 5%;
    width: 100px;
    height: 25px;
    border: 1px solid #FFB000;
    background-color: rgb(25, 25, 25);
    border-radius: 3px;
    color: white;
    font-size: 0.75em;
    text-indent: 0.8em;
    margin-bottom: 15px;
}
ul#other_detail_list{
    width: 90%;
    position: relative;
    float: left;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
/*     background-color: skyblue; */
}
ul#other_detail_list li{
    position: relative;
    margin-bottom: 15px;
}
ul#other_detail_list li:last-child{
    margin: 0;
}
img.detail_img{
    position: relative;
    left: 0px;
    top: 0px;
    width: 47%;
    border: 1px solid rgba(255, 255, 255, 0.35);
    box-sizing: border-box;
}
p.detail_ninkname{
    position: relative;
    float: right;
    right: 0px;
    top: 0px;
    font-size: 0.75em;
    font-weight: 400;
    font-style: oblique;
    width: 50%;
    text-align: right;
/*     background-color: blue; */
}
p.detail_star{
    position: absolute;
    top: 0;
    right: 0px;
    width: 50%;
    text-align: left;
    font-size: 0.9em;
    color: #FFB000;
/*     background-color: hotpink; */
}
p.detail_text{
    position: absolute;
    right: 0px;
    bottom: 0px;
    font-size: 0.7em;
    line-height: 1.5em;
    width: 50%;
    text-align: justify;
/*     background-color: red; */
}
button.more_view_btn{
    position: relative;
    float: left;
    left: 50%;
    transform: translateX(-50%);
    height: 45px;
    width: 65%;
    border-radius: 5px;
    border: 1px solid #FFB000;
    background-color: rgb(25, 25, 25);
}
span.more_view_text{
    color: white;
    font-size: 0.875em;
}
span.more_view_text:after{
    content: " →";
    position: relative;
}
section#comment{
    position: relative;
    float: left;
    width: 100%;
/*     background-color: blue; */
}
section#my_comment{
    position: relative;
    float: left;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
/*     background-color: purple; */
}
div#my_profile{
    position: relative;
    float: left;
    width: 10.5%;
    height: 45px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    background: url(../images/my_profile.png) no-repeat;
    background-size: cover;
}
input#comment_text{
    position: relative;
    float: right;
    width: 85%;
    height: 90px;
    background-color: #45433E;
    border: 1px solid #FFB000;
    border-radius: 7px;
    color: white;
    text-indent: 10px;
    font-size: 0.75em;
    margin-bottom: 10px;
}
button#comment_btn{
    position: relative;
    float: right;
    background-color: #FFB000;
    border: none;
    border-radius: 5px;
    width: 90px;
    height: 45px;
    font-size: 0.875em;
    font-weight: 600;
}
section#user_comment{
    position: relative;
    float: left;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
/*     background-color: green; */
}
section#user_comment select.view_option{
    top: 0px;
    right: 0px;
}
h3.detail_review_subtitle{
    left: 0px;
    top: 0px;
    margin: 0;
/*     background-color: red; */
}
ul#user_comment_list{
    position: relative;
    float: left;
/*     top: 25px; */
    width: 100%;
    margin-bottom: 30px;
/*     background-color: burlywood; */
}
ul#user_comment_list li{
    position: relative;
    height: 45px;
    font-size: 0.75em;
    margin-bottom: 15px;
/*     background-color: blanchedalmond; */
}
ul#user_comment_list li:last-child{
    margin-bottom: 0;
}
div.user_profile{
    position: absolute;
    float: left;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
}
ul#user_comment_list li:first-child div.user_profile{
    background: url(../images/user_profile1.jpg) no-repeat;
}
ul#user_comment_list li:nth-child(2) div.user_profile{
    background: url(../images/user_profile2.jpg) no-repeat;
}
ul#user_comment_list li:nth-child(3) div.user_profile{
    background: url(../images/user_profile3.jpg) no-repeat;
}
ul#user_comment_list li:nth-child(4) div.user_profile{
    background: url(../images/user_profile4.jpg) no-repeat;
}
ul#user_comment_list li:last-child div.user_profile{
    background: url(../images/user_profile5.jpg) no-repeat;
}
div.user_written{
    position: relative;
    left: 55px;
    width: 80%;
    top: 3px;
/*     background-color: black; */
}
span.user_nickname{
    position: relative;
    float: left;
    margin-right: 5px;
    font-weight: 400;
    color: #FFB000;
/*     background-color: red; */
}
span.date{
    position: relative;
    float: left;
    color: #989898;
    top: 1px;
    font-size: 0.7em;
/*     background-color: orange; */
}
p.user_text{
    position: relative;
    clear: left;
    padding-top: 5px;;
/*     background-color: coral; */
}
span.recommend{
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding-left: 18px;
    font-size: 0.75em;
/*     background-color: skyblue; */
}
span.recommend:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: url(../images/icon/recommend.png) no-repeat;
}

/* @media screen and (max-width:380px){
    p.detail_text{
        height: 70%;
        overflow: hidden;
    }
} */